.container1{
    display: grid;
   
    grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "container container img1 img1 ";

}
.content{
    color: white;
    text-align: left;
    position: relative;
    right: 36rem;
    height: 20px;
    width: 38rem;
}
.des{
    padding: 2rem 0px
}



/* Media Query for Tablets and Smaller Devices */
@media (max-width: 991px) {
    .container1 {
        flex-direction: column;
        align-items: center;
    }

    .content {
        max-width: 100%;
        text-align: center;
    }

    .img1 {
        margin-top: 20px;
    }
}

/* Media Query for Small Mobile Devices */
@media (max-width: 575px) {
    .content h3 {
        font-size: 1.5rem;
    }

    .content .des {
        font-size: 1rem;
    }
}